  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-scrolled">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/user/landingpage">Kaddem APP</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="/assets/front/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/home">Acceuil</a></li>
          <li><a class="nav-link scrollto" href="#">Université</a></li>
          <li><a class="nav-link scrollto" href="#">Département</a></li>
          <li><a class="nav-link scrollto" href="/etudiant">Etudiant</a></li>
          <li><a class="nav-link scrollto" href="#">Contrat</a></li>
          <li><a class="nav-link scrollto" href="#">Equipe</a></li>
          <li><a class="nav-link scrollto" href="#">Enseignant</a></li>
          <li><a class="getstarted scrollto" href="http://127.0.0.1:5501/">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
