  <!-- ======= Hero Section ======= -->


  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos-delay="200" >
          <h1 style="position: relative; bottom: 250px;">Renforcez l'Éducation avec KADDEM</h1>
          <h2 style="position: relative; bottom: 250px;">Simplifiez la gestion éducative avec Kaddem, votre allié dans l'univers universitaire. Explorez de nouvelles possibilités en matière d'administration étudiante et de coordination des départements.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start" style="position: relative; bottom: 250px;">
            <a href="http://127.0.0.1:5501/" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=EVQS0RQqT1I" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <app-logo class="w-[20px] h-[400px]" style="position: relative; left: 300px ; top: 130px;"></app-logo>
      </div>
    </div>
  </section><!-- End Hero -->

<main id="main">
  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg">
    <div class="container">

      <div class="row">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/assets/front/img/clients/sponsor/esprit.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/assets/front/img/clients/sponsor/club.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/assets/front/img/clients/sponsor/ssd.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/assets/front/img/clients/sponsor/ieee.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/assets/front/img/clients/sponsor/camp.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/assets/front/img/clients/sponsor/shop.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section><!-- End Cliens Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>A propos Nous</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <p>Kaddem, une application de gestion universitaire, simplifie la recherche et la réservation de centres éducatifs sur mesure. Nous sommes votre allié pour optimiser votre parcours universitaire.</p>
            <b> Kaddem fournit :</b>

          <ul>
            <li><i class="ri-check-double-line"></i> Demo videos</li>
            <li><i class="ri-check-double-line"></i> Customization</li>
            <li><i class="ri-check-double-line"></i> Event and Activity</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            En général, l'objectif de l'application de gestion universitaire Kaddem est de rendre le processus de planification et de gestion des études plus facile et plus efficace
            pour les utilisateurs en fournissant une plateforme centralisée pour la gestion des cours, des départements et des contrats
          </p>
          <a href="https://github.com/Dhaou-Jawhar/Pidev-Aurora/blob/master/src/main/resources/templates/assets/aurora.pdf" class="btn-learn-more">Learn More</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" >

      <div class="section-title">
        <h2>Services</h2>
        <p>Notre solution propose une multitude de services pour répondre à vos besoins, avec des technologies innovantes et un soutien personnalisé. Faites-nous confiance pour vous offrir des solutions sur mesure et dépasser vos attentes.</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch"  data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bxs-school"></i></div>
            <h4><a href="/user/shop">Université</a></h4>
            <p>Votre solution globale pour simplifier la gestion académique, administrative et départementale.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"  data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class='bx bxs-user'></i></div>
            <h4><a href="/user/event">Étudiant</a></h4>
            <p>Join us for an unforgettable camping event, filled with outdoor activities, delicious food, and great company under the stars</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"  data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-building"></i></div>
            <h4><a href="">Département</a></h4>
            <p>Optimisez la coordination et la gestion de vos départements académiques.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"  data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class='bx bx-file'></i></div>
            <h4><a href="">Contrat</a></h4>
            <p>Gérez vos contrats académiques en toute simplicité et efficacité.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Cta Section ======= -->
  <section id="cta" class="cta">
    <div class="container" >

      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>Appel à l'action</h3>
          <p> Embarquez dans un voyage éducatif sans pareil avec Kaddem et invitez vos pairs à se joindre à l'expérience. </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="http://127.0.0.1:5501/">Call To Action</a>
        </div>
      </div>

    </div>
  </section><!-- End Cta Section -->

   <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container" >

      <div class="section-title">
        <h2>Groupe</h2>
        <p>Notre équipe dévouée œuvre pour offrir la meilleure expérience possible avec Kaddem, vous accompagnant à chaque étape de votre parcours.</p>
      </div>

      <div class="row">

        <div class="col-lg-6"  data-aos-delay="100">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="/assets/front/img/team/joe.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Dhaou Jawhar</h4>
              <span>Software Engeneering</span>
              <p>Ingénieur logiciel expert développant des solutions efficaces et conformes aux normes de l'industrie.</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0"  data-aos-delay="200">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="/assets/front/img/team/han.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Hammouda Hanen</h4>
              <span>Software Engeneering</span>
              <p>Ingénieur logiciel expert développant des solutions efficaces et conformes aux normes de l'industrie.</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4"  data-aos-delay="300">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="/assets/front/img/team/houssem.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Mhedhbi HoussemEddine</h4>
              <span>Software Engeneering</span>
              <p>Ingénieur logiciel expert développant des solutions efficaces et conformes aux normes de l'industrie.</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4"  data-aos-delay="400">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="/assets/front/img/team/hazem.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Kharroubi Hazem</h4>
              <span>Software Engeneering</span>
              <p>Ingénieur logiciel expert développant des solutions efficaces et conformes aux normes de l'industrie.</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4"  data-aos-delay="400">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="/assets/front/img/team/tasnim.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Jdidi Tasnime</h4>
              <span>Software Engeneering</span>
              <p>Ingénieur logiciel expert développant des solutions efficaces et conformes aux normes de l'industrie.</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4"  data-aos-delay="400">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="/assets/front/img/team/eya.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Tizaoui Eya</h4>
              <span>Software Engeneering</span>
              <p>Ingénieur logiciel expert développant des solutions efficaces et conformes aux normes de l'industrie.</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" >

      <div class="section-title">
        <h2>Contact</h2>
        <p>Avez-vous une question ou avez-vous besoin d'aide ? Contactez notre équipe d'assistance experte pour une assistance rapide et fiable avec notre application.</p>
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Emplacement :</h4>
              <p>68 Avenue de la Technologie, Nkhilet, Ariana 2088</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>kaddem-app@esprit.tn</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+216 2423 2423</p>
            </div>

            <iframe src="https://www.bing.com/maps/embed?h=400&w=500&cp=36.898858971936~10.183982849121094&lvl=16&typ=d&sty=r&src=SHELL&FORM=MBEDV8" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->
