<app-univ-form style="width: 20%; float: left;"></app-univ-form>

<div class="container shadow p-3 mb-5 bg-white rounded" style="margin-top: 150px; width: 80%; float: left;">
    <h4 style="text-align: center; font-family : cursive ;  font-weight : bold ; font-size : 25px ; text-shadow: 2px 2px 5px deepskyblue;">List of Universities</h4>
  <div class="row" >
    <div class="col-4" *ngFor="let universite of list">
      <div class="card shadow p-3 mb-5 bg-white rounded rounded"  style="width: 18rem; margin : 10px" >
        <app-univ-model class="w-200px h-[300px]" [obj] = "universite.model"></app-univ-model>
        <div class="card-body">
          <h5 class="card-title" style="text-align: center; color: white ; font-size : 20px ; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue">🏫 {{universite.nomUniv}} 🏫</h5>
        </div>
        <div style="display: flex; justify-content: center;">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            fill="#00D100"
            class="bi bi-info-circle icon"
            viewBox="0 0 16 16"
            [routerLink]="['/universiteDetail', universite.idUniv]"
            style="margin-right: 20px;"
          >
            <path
              d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            fill="red"
            class="bi bi-trash icon"
            viewBox="0 0 16 16"
            (click)="deleteUniversiteWithConfirmation(universite.idUniv)"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
            />
            <path
              fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
            />
          </svg>
        </div>
      </div>
    </div>
</div>
</div>
