
<div class="container shadow p-3 mb-5 bg-white rounded" style="margin-top: 450px;">
  <div class="row" style="border: 0.1px solid rgb(201, 199, 199); padding : 20px ; border-radius:30px ;" >
    <h3 style="text-align: center; font-size : 20px ; font-weight : bold">Universite</h3>
    <hr>
    <div class="col-6" >
      <label style="text-align: center;">name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="universite.nomUniv">
    </div>
    <div class="col-6">
      <label>Model</label>
      <input type="text" class="form-control" name="model" [(ngModel)]="universite.model">
    </div>

    <div class="col-12">
      <button class=" btn btn-success" style="width: 100%;" (click)="addUniversite()">ADD</button>
    </div>

  </div>
</div>
